{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-info}}
    {{/each}}

</section>
{{/if}}
<h1>Testing</h1>
<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>